<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test 01 by SystemsWecare </title>

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>

    <style>
        .is-hidden {
            display: none !important;
        }
        .is-center {
            text-align: center !important; 
         }

         img {
             width: 100% !important;
         }
    </style>

    <link rel="stylesheet" href="bulma/bulma.css">
</head>
<body ng-controller="test as controller">
    <div class="container">
            <div class="title notification">
                Test 01 by SystemsWecare 
            </div>
            <div class="subtitle notification">
                AngularJS (1st Version) , jQuery 
            </div>

            <div class="err is-hidden">
                <div class="notification is-danger">
                        {{ controller.status }}
                </div>
                <div class="is-center">
                    <a href="javascript:;" onclick="location.reload()">   โหลดหน้าใหม่</a>
                </div>
            </div>
            

            <!-- Code Here -->


            <!-- Code Here -->
    </div>
</body>
</html>